<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successful</title>
</head>
<body>
    <h4>Success !!</h4>
    <p>Your file(s)</p>
        <ul>
         {% for file in uploaded_files %}
         <li>{{file}}</li>
         {% endfor %}
        </ul>
        <p>were uploaded Successfully.</p>
        <br><br>
    {% if failed_files %}
    <h4>These files failed, checkout why: </h4>
    <ul>
        {% for failedfile in failed_files %}
        <li>{{failedfile}} : {{failed_files[failedfile]}}</li>
        {% endfor %} 
    </ul>
    {% endif %}
    <br><br>
    {% if warned_files %}
    <h4>Files uploaded with warning: </h4>
    <ul>
        {% for warnedfile in warned_files %}
        <li>{{warnedfile}} : {{warned_files[warnedfile]}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{url_for('routes.home')}}">Home Page</a>
</body>
</html>